.footer{
    background-color: #F2811D;
    color: black;
    padding-top: 30px;
    
}


.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  
}

.footer_container div{
    padding-left: 20px;
}

.footer p{
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px 0px;
}

.footer a{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}