/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/componentes/contatos/contatos.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.contatos_head__Yv4Ub{
    height: 41vh;
    width: 100%;
    background-image: url(/_next/static/media/banner-contact.52a1d4bc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 3px 2px 0px #5858585c;
    background-color: #000000;
    position: relative;
    font-weight: bold;
}
.contatos_bannerh1__YwjcT{
    position: absolute;
    color: white;
    width: 25%;
    top: 10%;
    left: 3%;
    font-size: 150%;
}
.contatos_hone__6YOmu{
    font-size: 3em;
    position: absolute;
    color: white;
    top: 28%;
    left: 17%;
}
.contatos_htwo__6mlqN{
    position: absolute;
    color: white;
    background-color: black;
    height: 6vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    top: 68%;
    left: 3%;
}
.contatos_bannertwo__QYnB5{
    background-color: black;
    position: absolute;
    color: rgb(255, 68, 35);
    height: 8vh;
    width: 15%;
    display: flex;
    font-size: 190%;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 65%;
    left: 35%;
}
.contatos_title__Zmqko{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-size: 3em;
}
.contatos_main__GNLc0{
    height: 110vh;
    width: 100%;
}
.contatos_conteudo__r6YqL{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    height:40vh;
    width: 100%;
}
.contatos_conteudoone__FNSz_{
    background-color: #f2e205;
    border-radius: 10px 0 0 10px ;
    width: 23%;
    height: 23vh;
    padding: 25px 20px;
}
.contatos_conteudotwo__hl8UD{
    background-color:#f9a316;
    border-radius: 10px;
    width: 25%;
    height: 25vh;
    padding-left: 20px;
    padding: 35px 20px;
}
.contatos_conteudothree__Br__p{
    background-color:#f2e205;
    border-radius: 0px 10px 10px 0;
    width: 23%;
    height: 23vh;
    padding: 25px 20px;
}
.contatos_conteudoone__FNSz_:hover{
    margin:10px 10px 10px 10px;
    color: rgb(255, 153, 0);
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
    height: 26vh;
    transition: all 0.5s ease;
}
.contatos_conteudotwo__hl8UD:hover{
    margin:10px 10px 10px 10px;
    color: rgb(255, 238, 0);
    height: 30vh;
    cursor: pointer;
    transition: all 0.5s ease;
}
.contatos_conteudothree__Br__p:hover{
    height: 26vh;
    margin:10px 10px 10px 10px;
    color: rgb(255, 153, 0);
    cursor: pointer;
    transition: all 0.5s ease;
}
.contatos_contact__YaIoS{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 65vh;
    width: 100%;
}
.contatos_iframe__zQJUk{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 65vh;
    width: 30%;
}
.contatos_formulary__K7_Uw{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    margin-right: 25px;
    width: 30%;
    height: 50vh;
    border: none;
    color: #000;
}
.contatos_form__j5Nf_{
    height: 51vh;
    background-color: #f3f3f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}
.contatos_input__wybFo {
    background-color: #cfcfcf6b;
    text-align: center;
    border-radius: 10px;
    height: 32px;
    width: 30vw;
    margin: 16px 0 16px 0;
    font-weight: bold;
    font-size: 23px;
    color: #000;
}
.contatos_text__u9Oiy{
    width: 30vw;
    height: 100px;
    color: #000;
    font-size: 35px;
    text-align: center;
    background-color: #cfcfcf6b;
}
.contatos_button__TwREc{
    background-color: #9c9b98;
    border-radius: 10px;
    width: 70%;
    font-weight: bold;
    border: none;
    height: 40px;
    font-size: 25px;
    color: #000000;
    margin: 16px 0 0 0;
}
.contatos_button__TwREc:hover{
    cursor: pointer;
    color: #000;
    background-color: #f9a316;
}

/* responsividade */
