.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.video_main{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main_container h1{
    font-size: 150px;
    color: #F29F05;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 7px 1px 2px black;
  
}

/* segunda seção */

.container_section{
    background-color: #BF6734;
    
}

.second_section{
    display: flex;
    flex-wrap: wrap;
    
}

.div_in_section{
    width: calc(100%/2 - 30px);
    margin-right: 30px;
    box-sizing: border-box;
    color: aliceblue;
    opacity: 0;
    animation: suavidade 1s ease forwards;
    
}

.imagem_sec_section{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.container_section h1{
    color: #F2E205;
    text-align: center;
    font-size: 62px;
    text-shadow: 4px 2px 1px black
}

.div_in_section h2{
    text-align: center;
    margin-bottom: 20px;
}


.div_in_section ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    text-align: center;
   
}


/* carousel */

.carousel{
    margin: auto;
    padding: 20px;
    width: 60%;
    background-color: rgba(240, 248, 255, 0.801);
    border-radius: 15px;
}

@keyframes suavidade {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsividade */

@media (max-width:1540px) {
    .carousel{
        margin: auto;
        padding: 20px;
        width: 70%;
        background-color: rgba(240, 248, 255, 0.801);
        border-radius: 15px;
    }
}

@media (max-width:1146px) {
    .div_in_section img{
        width: 100%;
        height: 100%;
    }

    .div_in_section p{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        gap: 5px;
        text-align: center;
    }
}

@media (max-width:950px) {
    .second_section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .div_in_section{
        width: 90%;
        margin: 30px auto;
        box-sizing: border-box;
        color: aliceblue;
        opacity: 0;
        animation: suavidade 1s ease forwards;
    }

    .div_in_section p{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        gap: 5px;
        text-align: center;
    }

}

@media (max-width:700px) {
    .carousel{
        margin: auto;
        padding: 20px;
        width: 98%;
        background-color: rgba(240, 248, 255, 0.801);
        border-radius: 15px;
    }
}

@media (max-width: 500px) {

    
.div_in_section ul{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    list-style-position: inside;
    text-align: center;
   
}


    .main_container h1{
        font-size: 60px;
        color: #F29F05;
        position: absolute;
        text-transform: uppercase;
        text-shadow: 4px 1px 2px black;
      
    }
}