.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.video_main{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main_container h1{
    font-size: 150px;
    color: #F29F05;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 7px 1px 2px black;
  
}

/* segunda seção */

.container_section{
    padding: 50px 0px;   
     background-color: #BF6734;
    
}

.in{
    width: 70%;
    margin: auto;
}

.div_in_section{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    color: aliceblue;
    opacity: 0;
    animation: suavidade 1s ease forwards;
    
}

.div_in_section .container_p{
    display: flex;
    width: 350px;
    margin: 10px auto;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    justify-content: center;
    border: 1px solid #ccc;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #7B480A;
  
    
}

.div_in_section .container_p h2{
    color: #F2E205;
    font-size: 29px;
    padding-bottom: 10px;
}

.div_in_section .container_p p{
    color: rgb(231, 226, 226);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.container_p:hover{
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
}


.container_section h1{
    padding: 50px 0px;
    color: #F2E205;
    text-align: center;
    font-size: 62px;
    text-shadow: 4px 2px 1px black
}

.div_in_section h2{
    text-align: center;
    margin-bottom: 20x;
}




/* carousel */

.carousel{
    margin:  auto;
    padding: 50px 0px;
    width: 70%;
    border-radius: 15px;
}

@keyframes suavidade {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* responsividade */

@media (max-width:1540px) {
    .carousel{
        margin: auto;
        padding: 20px;
        width: 90%;
        border-radius: 15px;
    }


}

@media (max-width:1146px) {
    .carousel{
        margin: auto;
        padding: 20px;
        width: 90%;
        border-radius: 15px;
    }


}

@media (max-width:950px) {

    .carousel{
        margin: auto;
        padding: 20px;
        width: 60%;
        border-radius: 15px;
    }


    .second_section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


}



@media (max-width:700px) {
    .carousel{
        margin: auto;
        padding: 20px;
        width: 80%;
        border-radius: 15px;
    }

    
}

@media (max-width: 500px) {

    .carousel{
        margin: auto;
        padding: 20px;
        width: 90%;
        border-radius: 15px;
    }

    .main_container h1{
        font-size: 60px;
        color: #F29F05;
        position: absolute;
        text-transform: uppercase;
        text-shadow: 4px 1px 2px black;
      
    }
}