.container_links{
    position: absolute;
    top:0;
    left: 0;
    background-color:#F2E205;
    width: 50%;
    height: 100vh;
    z-index: 100;
}

.container_links ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 90px;
    list-style-type: none;
}


.container_links .link{
    color: black;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

.container_links .link:hover{
    color: rgb(182, 137, 41);
    font-size: 33px;
    transition: 1.5s;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.733));
}

