.head{
    height: 41vh;
    width: 100%;
    background-image: url("../../../../public/banner-contact.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 3px 2px 0px #5858585c;
    background-color: #000000;
    position: relative;
    font-weight: bold;
}
.bannerh1{
    position: absolute;
    color: white;
    width: 25%;
    top: 10%;
    left: 3%;
    font-size: 150%;
}
.hone{
    font-size: 3em;
    position: absolute;
    color: white;
    top: 28%;
    left: 17%;
}
.htwo{
    position: absolute;
    color: white;
    background-color: black;
    height: 6vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 130%;
    top: 68%;
    left: 3%;
}
.bannertwo{
    background-color: black;
    position: absolute;
    color: rgb(255, 68, 35);
    height: 8vh;
    width: 15%;
    display: flex;
    font-size: 190%;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 65%;
    left: 35%;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    font-size: 3em;
}
.main{
    height: 110vh;
    width: 100%;
}
.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    height:40vh;
    width: 100%;
}
.conteudoone{
    background-color: #f2e205;
    border-radius: 10px 0 0 10px ;
    width: 23%;
    height: 23vh;
    padding: 25px 20px;
}
.conteudotwo{
    background-color:#f9a316;
    border-radius: 10px;
    width: 25%;
    height: 25vh;
    padding-left: 20px;
    padding: 35px 20px;
}
.conteudothree{
    background-color:#f2e205;
    border-radius: 0px 10px 10px 0;
    width: 23%;
    height: 23vh;
    padding: 25px 20px;
}
.conteudoone:hover{
    margin:10px 10px 10px 10px;
    color: rgb(255, 153, 0);
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
    height: 26vh;
    transition: all 0.5s ease;
}
.conteudotwo:hover{
    margin:10px 10px 10px 10px;
    color: rgb(255, 238, 0);
    height: 30vh;
    cursor: pointer;
    transition: all 0.5s ease;
}
.conteudothree:hover{
    height: 26vh;
    margin:10px 10px 10px 10px;
    color: rgb(255, 153, 0);
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 65vh;
    width: 100%;
}
.iframe{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 65vh;
    width: 30%;
}
.formulary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    margin-right: 25px;
    width: 30%;
    height: 50vh;
    border: none;
    color: #000;
}
.form{
    height: 51vh;
    background-color: #f3f3f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
}
.input {
    background-color: #cfcfcf6b;
    text-align: center;
    border-radius: 10px;
    height: 32px;
    width: 30vw;
    margin: 16px 0 16px 0;
    font-weight: bold;
    font-size: 23px;
    color: #000;
}
.text{
    width: 30vw;
    height: 100px;
    color: #000;
    font-size: 35px;
    text-align: center;
    background-color: #cfcfcf6b;
}
.button{
    background-color: #9c9b98;
    border-radius: 10px;
    width: 70%;
    font-weight: bold;
    border: none;
    height: 40px;
    font-size: 25px;
    color: #000000;
    margin: 16px 0 0 0;
}
.button:hover{
    cursor: pointer;
    color: #000;
    background-color: #f9a316;
}

/* responsividade */