.container_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    background-color: #F2E205;
}

.imagem_topo{
    width: 80px;
    height: auto;
    object-fit: contain;
}

.links_topo{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.445);
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.links_topo:hover{
    color: black;
    font-size: 22px;
    transition: 1.3s;
    
}

/* responsividade */

@media (max-width: 700px) {
    .links_topo{
        display: none;
    }

    .container_header{
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        background-color: #F2E205;
    }
}