/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/componentes/quemSomos/quemSomos.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
/* styles/quem-somos.css */
.quemSomos_main__CkAYX {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .quemSomos_main__CkAYX h1 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .quemSomos_main__CkAYX p {
    color: #555;
    font-size: 1.1rem;
  }
  
